body {
  font-family: $fontFamily;
  background: $backgroundColor;
  color: $typeDefault;
}

#{headings()} {
  font-family: $fontFamily;
  color: $headColor;
  font-weight: $bold;
}

a {
  color: $red;
}

strong {
  font-weight: $bold;
}
