<section class="register">
  <div class="page-header">
    <h1>{{meetingName}} <small>Fill out this form to check-in <span ng-show="currentUser">or go <a ng-href="#/meetings">back to my meetings</a></span></small><a class="btn btn-default pull-right" ng-href="#/checkins/{{whichUser}}/{{whichMeeting}}/checkinsList"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></h1>
  </div>
  <form name="myform" ng-submit="addCheckin()" novalidate>
    <p ng-show="message">{{message}}</p>

    <input class="form-control"
      ng-class="{'alert alert-danger': myform.firstname.$invalid && myform.firstname.$touched}"
      type="firstname" name="firstname"
      placeholder="{{myform.firstname.$invalid && myform.firstname.$touched ? 'First name is requried' : 'First Name' }}"
      ng-model="user.firstname" ng-required="true">

    <input class="form-control"
      ng-class="{'alert alert-danger': myform.lastname.$invalid && myform.lastname.$touched}"
      type="lastname" name="lastname"
      placeholder="{{myform.lastname.$invalid && myform.lastname.$touched ? 'Last name is requried' : 'Last Name' }}"
      ng-model="user.lastname" ng-required="true">

    <input class="form-control"
      ng-class="{'alert alert-danger': myform.email.$invalid && myform.email.$touched}"
      type="email" name="email"
      placeholder="{{myform.email.$invalid && myform.email.$touched ? 'Must be a valid email' : 'Email' }}"
      ng-model="user.email" ng-required="true">

    <button type="submit" class="btn btn-primary"
      ng-disabled="myform.$invalid">
      Check-in</button>
  </form>
</section>
