<section class="checkins-list">
  <div class="page-header">
    <h1>{{meetingName}} <small>Here's a list of the latest check-ins<span ng-show="currentUser">. <a ng-href="#/meetings">Go back to my meetings.</a></span></small><a class="btn btn-default pull-right" ng-href="#/checkins/{{whichUser}}/{{whichMeeting}}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="input-group search">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input class="form-control" type="text" ng-model="query" placeholder="Search for Users">
      </div>
    </div>
    <div class="panel-body">
      <div class="btn-group btn-group-xs sort" data-toggle="buttons">
        <label class="btn btn-default" disabled>
          Sort By
        </label>
        <label class="btn btn-info active" ng-click="selectValue('firstname')">
          <input type="radio" autocomplete="off"> First Name
        </label>
        <label class="btn btn-info" ng-click="selectValue('lastname')">
          <input type="radio" autocomplete="off"> Last Name
        </label>
        <label class="btn btn-info" ng-click="selectValue('date')">
          <input type="radio" autocomplete="off"> Date
        </label>
      </div>
      <div class="btn-group btn-group-xs sort" data-toggle="buttons">
        <label class="btn btn-info active" ng-click="directionValue('')">
          <input type="radio" autocomplete="off"> ASC
        </label>
        <label class="btn btn-info" ng-click="directionValue('reverse')">
          <input type="radio" autocomplete="off"> DESC
        </label>
      </div>
      <div class="btn-group btn-group-xs btn-raffle" ng-show="currentUser&&!recordId">
        <label class="btn btn-default" disabled>
          Raffle
        </label>
        <button type="button" class="btn btn-xs btn-success"
          ng-click="pickRandom()"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></button>
      </div>
      <div class="btn-group btn-group-xs btn-raffle" ng-show="currentUser&&recordId">
        <label class="btn btn-default" disabled>
          Raffle
        </label>
        <button type="button" class="btn btn-xs btn-warning"
          ng-click="recordId=''"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
      </div>
    </div>
    <ul class="list-group checkin-user-list" search-notification>
      <li class="list-group-item checkin-user"
        ng-class="{'expanded': checkin.show === true}"
        ng-repeat="checkin in checkins | orderBy: order : direction | filter: {fullname: query, $id: recordId}">
        <div class="container">
          <div class="info row">
            <div class="col-md-3">
              <h3>{{checkin.firstname}} {{checkin.lastname}}</h3>
              <p class="date">{{checkin.date | date:"MMM d, yy h:mm a"}}</p>
            </div>
            <div class="col-md-5 give-gift">
              <form name="myForm" ng-show="checkin.show" ng-submit="giveLove(checkin, checkin.giftText)" novalidate>
                <div class="input-group">
                  <input type="text" class="form-control" name="giftText"
                    ng-model="checkin.giftText"
                    ng-required="true"
                    placeholder="What are you giving them?">
                  <span class="input-group-btn">
                    <button type="submit" class="btn" ng-disabled="myForm.giftText.$invalid"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                  </span>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <div class="btn-group btn-group-xs pull-right" ng-show="currentUser">
                <button class="btn btn-success" ng-click="showLove(checkin)" type="button">
                  <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default" ng-click="deleteCheckin(checkin.$id)" type="button">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item search-notification">No matching user found.</li>
    </ul>
    <div class="panel-footer"></div>
  </div>
</section>
